/**
============================================
; Title: Assignment 3.4
; File Name: home.component.css
; Author: Professor Krasso
; Date: 7 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
*/

.main {
  width: 75%;
  margin: auto;
}

h2 {
  padding: 20px;
}
