<!--
============================================
; Title: Assignment 5.4
; File Name: book-list.component.html
; Author: Professor Krasso
; Date: 23 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; [REF A] Angular: https://material.angular.io/components/table/overview (Table)
===========================================
-->

<div fxLayout="column wrap">
  <h2 fxFlex class="green">Top 5 Favorite Books</h2>

  <!--Begin Angular table-->
  <table fxFlex mat-table [dataSource]="books" class="mat-elevation-z8"> <!--[REF A] Begin Angular table by passing a data array ("books") to the table's dataSource input. The table will take the array and render a row for each object in the data array.-->

    <tr mat-header-row *matHeaderRowDef="header"></tr>
    <tr mat-row *matRowDef="let row; columns: header;"></tr>
    <!--Table Column: ISBN-->
    <ng-container matColumnDef="isbn"> <!--[REF A] Each column should has unique name.-->
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element"><a class="a-link blue" (click)="showBookDetails(element.isbn)"> {{ element.isbn }}</a></td>
    </ng-container>

     <!--Table Column: Title-->
     <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{ element.title }}</td>
    </ng-container>

    <!--Table Column: Number of pages-->
    <ng-container matColumnDef="numOfPages">
      <th mat-header-cell *matHeaderCellDef>Number of pages</th>
      <td mat-cell *matCellDef="let element"> {{ element.numOfPages }}</td>
    </ng-container>

    <!--Table Column: Authors-->
    <ng-container matColumnDef="authors">
      <th mat-header-cell *matHeaderCellDef>Authors</th>
      <td mat-cell *matCellDef="let element"> {{ element.authors.join(', ')}}</td> <!--Uses JS built-in() function to join authors array into a comma delimited string.-->
    </ng-container>


  </table>
</div>
