<!--
============================================
; Title: Assignment 4.4
; File Name: contact.component.html
; Author: Professor Krasso
; Date: 15 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; Resources:
; [Ref A] Getbootstrap: https://icons.getbootstrap.com/ (Bootstrap Icons)
===========================================
-->

<div class="contact-header">

  <div class="row">
    <div class="col-sm-12"><h3 class="text-center">Contact Us</h3></div>
  </div>

  <hr>

  <div class="contact-container center text-center">
    <div class="row">
    <div class="col-sm-6">
      <h2><i class="bi bi-house"></i></h2>
      <h4>Address</h4>
      <br />
      123 Composer St.
      <br />
      Scranton, PA 18505
    </div>

    <div class="col-sm-6">
      <h2><i class="bi bi-telephone"></i></h2>
      <h4>Phone</h4>
      <br />
      (123) 456-7890
    </div>
  </div>
