<!--
============================================
; Title: Assignment 4.4
; File Name: about.component.html
; Author: Professor Krasso
; Date: 15 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; Resources:
; Fruhling, Z.: https://resilienteducator.com/instructional-design/hanging-indents-in-html-and-css-for-instructional-designers/ (Hanging Indents in HTML and CSS for Instructional Designers)
===========================================
-->

<div class="composer-header">

<div class="row">
  <div class="col-sm-12"><h3 class="text-center">Ludwig van Beethoven</h3></div>
</div>

<hr>

<div class="composer-biography center">
  <div class="row">
  <div class="col-sm-4">
    <img src="./assets/beethoven.jpg" width="100%" class="center">
  <br>
  Photo via <a href="https://www.goodfreephotos.com/">Good Free Photos</a>
  </div>

  <div class="col-sm-8">
    <strong>Ludwig van Beethoven</strong> was born in Germany around December 16, 1770,
    and died on March 26, 1827. Beethoven was a classical composer and was “widely regarded as the greatest
    composer who ever lived” (Britannica, n.d.). Beethoven was born into a musical family and was 'discovered'
    by composer Joseph Hayden when he was a teenager. Under Hayden's tutelage,  Beethoven became a successful composer.
    His most famous compositions include Symphony No. 5 in C Minor, Symphony No. 7 in A Major, and Symphony No. 9 in D
    Minor (Britannica, n.d.). Beethoven experienced gradual hearing loss until he was completely deaf in 1819.
     He continued to compose music even when he couldn't hear, resulting in some of his most famous works.
    <br /> <br />
    <p class="text-center"><b>References</b></p>

    <div style="text-indent: -36px; padding-left: 36px;">
    Britannica. (n.d.). <i>Ludwig van Beethoven</i>. <a href="https://www.britannica.com/biography/Ludwig-van-Beethoven" target="_blank">https://www.britannica.com/biography/Ludwig-van-Beethoven</a>
    </div>
  </div>
</div>
