/**
============================================
; Title: Exercise 3.3
; File Name: sign-in.component.css
; Author: Professor Krasso
; Date: 7 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
*/

.card {
  width: 35%;
  margin-top: 10%;
  margin: 0 auto;
  padding: 15px;
}

label {
  padding-bottom: 5px;
}
.form-group {
  padding: 5px;
}

.btn {
  float: right;
  margin: 5px;
}
