<!--
============================================
; Title: Exercise 7.3
; File Name: gpa.component.html
; Author: Professor Krasso
; Date: 5 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; Note: The first one represents how many whole number digits we want to show. The second one represents the minimum number of fractional decimals to display and the last value represents the maximum fractional decimals to display (Prof. Krasso).
===========================================
-->

{{ gpaTotal | number: '1.1-2' }}
