<!--
============================================
; Title:Assignment 8.2
; File Name: book-details-dialog.component.html
; Author: Professor Krasso
; Date: 16 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
-->

<mat-card>

  <mat-card-title class="blue">
    {{ book.title }}
  </mat-card-title>

  <br /><br />

  <mat-card-content>
    <div fxLayout="column">
      <p>ISBN: {{ book.isbn }}</p>

      <p>Description:<br /> {{ book.description }}</p>

      <p>Authors:<br /> {{ book.authors.join(', ')}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="accent" matDialogClose="confirm">OK</button>
  </mat-card-actions>

</mat-card>
