<!--
============================================
; Title:Assignment 8.2
; File Name: contact.component.html
; Author: Professor Krasso
; Date: 16 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
-->

<div fxLayout="row wrap">

  <div fxFlex class="center">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content>
        <p>123 White Tower St.</p>
        <p>Tar Valon, Westlands</p>
      </mat-card-content>
  </div>

  <div fxFlex class="center">
      <mat-card-title class="card-title-icon icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <mat-card-content>
       <p>Phone Number: 000-000-0000</p>
      </mat-card-content>
  </div>

</div>
