<!--
============================================
; Title: Exercise 7.3
; File Name: sign-in.component.html
; Author: Professor Krasso
; Date: 5 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
-->

<div fxLayout="column">
  <mat-card fxFlex class="mat-elevation-z8 signin-container">
    <mat-card-title>Student Sign In</mat-card-title>
    <mat-card-content>You must enter a valid student ID to proceed.</mat-card-content>

    <mat-card-content>
      <!--Add *ngIf to check if errorMessage variable has a value. On true, output the results.-->
      <div class="msg-error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <!--Add *ngIf that checks for errors and whether the control has been touched. -->
      <div *ngIf="form.studentId.errors && form.studentId.touched">
        <div class="msg-error">
          Student ID must be a numeric value.
        </div>
      </div>

      <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">

        <!--Form field that calls to FormField and an ngSubmit call to the submit function.-->
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); signinForm.reset()">
          <mat-card-content>

            <mat-form-field fxFlex appearance="fill">
              <mat-label for="txtStudentId" id="lblStudentId">Student ID</mat-label>
              <input type="text" required matInput formControlName="studentId" id="txtStudentId" name="txtStudentId" />
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions>

            <!--Disable button when the form is invalid.-->
            <button type="submit" [disabled]="!signinForm.valid" fxFlex mat-raised-button color="primary">Submit</button>
          </mat-card-actions>
        </form>
      </mat-card>

    </mat-card-content>
  </mat-card>

</div>
