<!--
============================================
; Title: Assignment 4.4
; File Name: composer-list.component.html
; Author: Professor Krasso
; Date: 15 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; Resources:
; W3schools: https://www.w3schools.com/bootstrap/bootstrap_ref_all_classes.asp (Complete List of All Bootstrap Classes)
; Getbootstrap: https://getbootstrap.com/docs/4.0/content/tables/ (Tables)
===========================================
-->

<div class="composer-list-container center">

  <div class="row">
    <div class="col-sm-8 center">

      <div class="txtSearch">
        <input type="text" id="txtSearch" class="form-control" placeholder="Search by name" [formControl]="txtSearchControl">
      </div>

      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Composer ID</th>
            <th scope="col">Full name</th>
            <th scope="col">Genre</th>
          </tr>
        </thead>
        <tbody *ngFor="let composer of composers | async">
          <tr>
            <td scope="row">
              <a routerLink="/composer-details/{{composer.composerId}}">
                {{ composer.composerId }}
              </a>
            </td>
            <td>{{ composer. fullName }}</td>
            <td>{{ composer.genre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
