<!--
============================================
; Title:Assignment 8.2
; File Name: about.component.html
; Author: Professor Krasso
; Date: 16 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div class="about-img-container">
        <img src="./assets/robertjordan.jpg" class="about-img" />
      </div>
      <div class="caption">
        <em>
          (Photo by Liza Groen Trombi, Locus Publications)
        </em>
      </div>
    </div>
  </div>

  <div fxFlex class="about-txt-container">
    <h1 class="blue">Who is Robert Jordan?</h1>
    <br />

    Author <strong>Robert Jordan</strong> (birth name “James Oliver Rigney Jr.”) .”) is best known for his epic fantasy series "The Wheel of Time." Born on October 17, 1948, in Charleston, South Carolina, he was an avid reader as a young boy. He read Jules Vern's and Mark Twain's works and knew early on that his dream was to be a writer. Jordan served in the U.S. Army with two tours in Vietnam (Macmillan, n.d.). He received the Distinguished Flying Cross, Bronze Star with "V," and a bronze oak leaf cluster (Famousauthors, n.d.).

    <br /><br />

    After he returned from Vietnam, he gained a degree in physics. In 1977, Jordan began writing. Among his works, "The Wheel of Time" was one of his most famous, selling up to 44 million copies worldwide (Famousauthors, n.d.). Jordan passed away September 16, 2007, with "The Wheel of Time" unfinished. Fantasy author Brandon Sanderson was a fan of the books and was chosen by Jordan's wife to finish the series. Sanderson completed Jordan's works by referencing Jordan's story notes that he had written before his death.

    <br /> <br />
    <p class="center"><b>References</b></p>

      <div style="text-indent: -36px; padding-left: 36px;">
      Famousauthors. (n.d.). <i>Robert Jordan</i>. <a href="https://www.famousauthors.org/robert-jordan" target="_blank">https://www.famousauthors.org/robert-jordan/</a>

      </div>


      <br />

      <div style="text-indent: -36px; padding-left: 36px;">
      Macmillan. (n.d.). <i>Robert Jordan</i>. <a href="https://us.macmillan.com/author/robertjordan" target="_blank">https://us.macmillan.com/author/robertjordan</a>
      </div>

  </div>
</div>


