<!--
============================================
; Title: Exercise 7.3
; File Name: auth-layout.component.html
; Author: Professor Krasso
; Date: 5 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; Note: With router-outlet, anything under the children prefix array (in app.routing.module.ts) will inherit the styling from that base component (Prof. Krasso).
===========================================
-->

<router-outlet></router-outlet> <!--Any children components under path: 'session' in app.routing.module.ts will be displayed in the auth-layout.component.html-->
