<!--
============================================
; Title: Exercise 3.3
; File Name: sign-in.component.html
; Author: Professor Krasso
; Date: 7 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; Resources:
; Getbootstrap: https://getbootstrap.com/docs/4.3/components/forms/ (Forms)
===========================================
-->

<div class="card">
  <div class="card-content">
    <h3>Sign In</h3>
    <form>
      <div class="form-group">
        <label for="txtUserName">Username</label>
        <input type="username" class="form-control" id="txtUserName" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" id="txtPassword" placeholder="Enter Password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="signin()">Submit</button>
    </form>
  </div>
</div>
