/**
============================================
; Title: Exercise 2.3
; File Name: my-image.component.css
; Author: Professor Krasso
; Date: 2 June 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
