<!--
============================================
; Title: Assignment 1.5
; File Name: my-details.component.html
; Author: Professor Krasso
; Date: 26 May 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
-->

<ul class="list-group"> <!-- [REF A]-->
  <li class="list-group-item"><strong>Name:</strong> Laura Kendl</li>
  <li class="list-group-item"><strong>Favorite Food:</strong> Chocolate</li>
  <li class="list-group-item"><strong>Favorite Color:</strong> Yellow</li>
</ul>
